@font-face {
    font-family: 'font';
    src: URL('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

:root {
    --color-primary: #EBA851;
    --color-secondary: #00001A;
    --color-tertiary: #D5D4D9;
    --color-button: #F15D51;
    --background: #FEFDF9;
    --color-text: #B8B6B9;
}

* {
    box-sizing: border-box;
    font-family: 'font';
}

body {
    margin: 0;
    background-color: var(--background);
}

.container {
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-navigation-title {
    flex: 50%;
}

.header-navigation-title h1 {
    font-weight: bold;
    color: var(--color-secondary);
    font-size: 45px;
}

.show-header-navigation-menu {
    display: flex !important;
    background-color: var(--background);
    width: 65vw;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    flex-direction: column;
    z-index: 2;
}

.header-navigation-menu {
    display: none;
    list-style: none;
    justify-content: center;
    flex: 1 1 auto;
}

.header-navigation-menu li {
    padding: 5px;
    display: flex;
    margin-bottom: 15px;
}

.header-navigation-menu li a{
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: bold;
}

.header-navigation-menu li a:hover {
    color: var(--color-button);
}

.body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main-blog {
    position: relative;
    width: 100%;
}

.main-blog-image {

}

.main-blog-image img {
    width: 100%;
}

.main-blog-text {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main-blog-text-content {
    flex: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-blog-text-content p {
    color: var(--color-secondary);
    font-size: 17px;
}

.main-blog-text-content-button {
    background-color: var(--color-button);
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px 25px 15px 25px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    width: 50%;
    transition: .2s ease-in;
}

.main-blog-text-content-button:hover {
    background-color: var(--color-secondary);
}

.main-blog-text-title {
    font-size: 60px;
    color: var(--color-secondary);
    margin: 0;
    text-align: left;
    font-weight: bold;
}

.main-news {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 20px 25px 20px 25px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-news-title {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: var(--color-primary);
}

.main-news-desc {
    margin-top: 15px;
}

.main-news-desc::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: var(--color-tertiary);
}

.main-news-desc:last-child::after{
    height: 0px;
}

.main-news-desc h3 {
    margin: 0;
    color: white;
    cursor: pointer;
}

.main-news-desc h3:hover {
    color: var(--color-primary);
}

.main-news-desc p {
    color: var(--color-tertiary);
    margin-bottom: 30px;
    font-size: 15px;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 50px;
    flex-direction: column;
}

.footer-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.footer-content-image {
    
}

.footer-content-image img {
    width: 90px;
}

.footer-content-info {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-content-title {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
    margin: 0;
    color: var(--color-text);
}

.footer-content-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: var(--color-secondary);
    cursor: pointer;
}

.footer-content-subtitle:hover {
    color: var(--color-button);
}

.footer-content-desc {
    color: var(--color-text);
    font-size: 15px;
}

.header-responsive input,
.header-navigation-menu input {
    display: none;
}

.rear-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1210106b;
    top: 0;
    left: 0;
    position: fixed;
}

.header-navigation-menu-close {
    width: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
}

@media (min-width: 992px) {
    .body {
        flex-direction: row;
    }

    .main-news-desc {
        margin-top: 0px;
    }

    .main-blog {
        min-height: 1px;
        padding-right: 25px;
        flex: 0 0 70.666667%;
        max-width: 70.666667%;
    }

    .main-blog-text {
        flex-direction: row;
    }

    .main-blog-text-content-button {
        width: fit-content;
    }

    .main-blog-text-content {
        margin-bottom: 0px;
    }

    .footer {
        flex-direction: row;
    }

    .header-responsive {
        display: none;
    }

    .header-navigation-menu {
        display: flex;
    }

    .header-navigation-menu li {
        justify-content: center;
        flex: 1 1 auto;
        margin-bottom: 0;
    }

    .header-navigation-menu li a{
        font-weight: normal;
    }

    .header-navigation-menu-close {
        display: none;
    }
}
